@model IEnumerable<InfoExam1.Core.File>
@{
    ViewData["Title"] = "Files";
}
<h1>@ViewData["Title"]</h1>


<form action="/User/FilesByName" method="get">
    <input type="submit" value="Show files by name" 
           name="Submit1" />
</form>
<form action="/User/FilesByDescription" method="get">
    <input type="submit" value="Show files by short desc" 
           name="Submit21" id="frm1_submit" />
</form>
<form action="/User/Find" method="get">
    <input name="sdesc" id="frm1_submit12312313" />
    <input type="submit" value="Show files by short desc"
           name="Submit21" id="frm1_submit"/>
</form>

@foreach (var p in Model)
{
    <div class="item">
        <form method="get" asp-action="GetFile" asp-controller="User">
            <h3 name="filename" title="filename">@p.FileName</h3>
            <input type="hidden" name="filename" value="@p.FileName}"/>
            <h4>@p.ShortDescription</h4>
            <button type="submit">Go to</button>
        </form>
    </div>
}