@page
@* @model InfoExam2.Web.Pages.IndexModel *@
@{
//    ViewData["Title"] = "Home page";
}

<form asp-action="Authentificate" asp-controller="Home">
    <input type="submit" name="log in" value="Authenticate">
</form>